// Typography
$type: "Manrope", "Helvetica", system-ui, sans-serif;
$semibold: 600;
$bold: 700;
$extrabold: 800;

// Colors
$borders: rgba(255, 255, 255, 0.1);
$primary: #1b86e6;
$primary-hover: #0772d2;
$text: #fff;
